*{
	padding: 0;
	margin: 15px;
}

.center1{
	background-color: black;
	color: #fff;
	text-align: center;
}

.dodo1{
	background-color: #fff;
}

.dodo{
	background-color: #fff;
	
}
.jjj{
	margin: 
}

.LEARNING1{
	display: inline-block;

}
.LEARNING2{
	display: inline-block;
}
.LEARNING3{
	display: inline-block;
}
.LEARNING4{
	display: inline-block;
}
.LEARNING5{
	display: inline-block;
}
.LEARNING6{
	display: inline-block;
}
.LEARNING7{
	display: inline-block;
}
.LEARNING8{
	display: inline-block;
}
.LEARNING9{
	display: inline-block;
}
.LEARNING10{
	display: inline-block;
}
.LEARNING11{
	display: inline-block;
}
.LEARNING12{
	display: inline-block;
}
.LEARNING13{
	display: inline-block;
}
.LEARNING14{
	display: inline-block;
}
.LEARNING15{
	display: inline-block;
}
.LEARNING16{
	display: inline-block;
}
.LEARNING17{
	display: inline-block;
}
.LEARNING18{
	display: inline-block;
}
.LEARNING19{
	display: inline-block;
}
.LEARNING20{
	display: inline-block;
}
.LEARNING21{
	display: inline-block;
}
.LEARNING22{
	display: inline-block;
}
.LEARNING23{
	display: inline-block;
}
.LEARNING24{
	display: inline-block;
}
.LEARNING25{
	display: inline-block;
}
.LEARNING26{
	display: inline-block;
}
.LEARNING27{
	display: inline-block;
}
.LEARNING28{
	display: inline-block;
}
.LEARNING29{
	display: inline-block;
}
.LEARNING30{
	display: inline-block;
}
.LEARNING31{
	display: inline-block;
}
.LEARNING32{
	display: inline-block;
}
.LEARNING33{
	display: inline-block;
}
.LEARNING34{
	display: inline-block;
}
.LEARNING35{
	display: inline-block;
}
.LEARNING36{
	display: inline-block;
}
.LEARNING37{
	display: inline-block;
}
.LEARNING38{
	display: inline-block;
}
.LEARNING39{
	display: inline-block;
}
.LEARNING40{
	display: inline-block;
}
.LEARNING41{
	display: inline-block;
}
.LEARNING42{
	display: inline-block;
}
.LEARNING43{
	display: inline-block;
}
.LEARNING44{
	display: inline-block;
}
.LEARNING45{
	display: inline-block;
}
.LEARNING46{
	display: inline-block;
}
.LEARNING47{
	display: inline-block;
}
.LEARNING48{
	display: inline-block;
}
.LEARNING49{
	display: inline-block;
}
.LEARNING50{
	display: inline-block;
}
.LEARNING51{
	display: inline-block;
}
.LEARNING52{
	display: inline-block;
}
.LEARNING53{
	display: inline-block;
}
.LEARNING54{
	display: inline-block;
}
.LEARNING55{
	display: inline-block;
}

.bo11{
	width:  250px;
}